<!DOCTYPE html>
<html>
<head>
    <title>Approve Paper Setters</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.4/css/bulma.min.css">
</head>
<body>
    <section class="container">
        <h2 class="title">Approve Paper Setter Requests</h2>

        <table class="table is-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in pending_users %}
                <tr>
                    <td>{{ user[0] }}</td>
                    <td>
                        <form action="/approve_ps" method="POST">
                            <input type="hidden" name="email" value="{{ user[0] }}">
                            <button class="button is-success" type="submit">Approve</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        <a class="button is-light" href="/admin_panel">🔙 Back to Admin Panel</a>
    </section>
</body>
</html>
